@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: rgb(0, 0, 0);
  --accent: rgb(74 222 128);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(50, 50, 50);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: clamp(4rem, 4dvw, 10rem);
}

h2 {
  font-weight: 400;
  font-size: clamp(2rem, 1.5dvw, 3.75rem);
}

.day {
  display: none;
}

ul li h2 {
  color: var(--foreground);
  text-decoration: none;

  background: linear-gradient(var(--accent) 0 0) 
  bottom center/
  var(--underline-width, 0%) 0.2rem
  no-repeat;

  transition: background 0.25s ease-in-out;

  cursor: pointer;
}

ul li h2:hover {
  color: var(--accent);
  --underline-width:100%
}